# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editors
.atom/
.idea/
.vscode/

# Go Debugging
OFF/

# Terraform
.terraform/
terraform.*
*.tfstate
*.tfstate.backup
crash.log
tflog.txt

# TF Binaries
terraform-provider-octopusdeploy
terraform-provider-octopusdeploy.exe

# Commenting the below because I wasn't able to save my main.tf configs for examples
#main.tf
artifacts/
build/
vendor/
.release/
*.tfplan

node_modules/
.env

examples/provider.tf

# goreleaser
dist/

# Ignore lock and state files in the terraform test directory
terraform/**/.terraform.lock.hcl
terraform/**/.terraform.tfstate.lock.info
terraform/**/terrform.tfstate
terraform/**/.terraform/*

# Ignore the test results file
results.xml

.DS_Store
