---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Feeds"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}
{{ if .IsDeprecated -}}~> **NOTE:** This is deprecated and may be removed in a future release.{{- end }}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Type "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Type "/import.sh") }}