---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Accounts"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Data Source: {{.Name}}

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}